<section>
    <div class="buttons">
        <button mat-raised-button (click)="sample1()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-raised-button (click)="sample2()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <table class="table">
        <tr>
            <th rowspan="2"></th>
            <ng-container *ngIf="week1; else Week">
                <th colspan="7">10th November 2019 - 16th November 2019</th>
            </ng-container>
            <ng-template #Week>
                <th colspan="7">17th November 2019 - 23th November 2019</th>
            </ng-template>
        </tr>
        <tr>
            <ng-container *ngIf="week1; else week">
                <th>Sunday 10th</th>
                <th>Monday 11th</th>
                <th>Tuesday 12th</th>
                <th>Wednesday 13th</th>
                <th>Thursday 14th</th>
                <th>Firday 15th</th>
                <th>Saturday 16th</th>
            </ng-container>
            <ng-template #week>
                <th>Sunday 17th</th>
                <th>Monday 18th</th>
                <th>Tuesday 19th</th>
                <th>Wednesday 20th</th>
                <th>Thursday 21th</th>
                <th>Firday 22th</th>
                <th>Saturday 23th</th>
            </ng-template>
        </tr>
        <tr>
            <td colspan="8">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true" class="undefined">
                        <mat-expansion-panel-header>
                            <mat-panel-title>Unidentified</mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-container *ngFor="let undefined of table.Undefined | keyvalue">
                            <table>
                                <tr>
                                    <!-- <th>{{undefined.key}}</th>
                                    <ng-container *ngFor="let day of days; let i = index">
                                        <td>{{timing(day, undefined.key, table.Undefined)}}</td>
                                    </ng-container> -->
                                </tr>
                            </table>
                        </ng-container>
                    </mat-expansion-panel>
                </mat-accordion>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true" class="bartender">
                        <mat-expansion-panel-header>
                            <mat-panel-title>Bartender</mat-panel-title>
                        </mat-expansion-panel-header>
                        <table>
                            <ng-container *ngFor="let bartender of table.Bartender | keyvalue">
                                <tr>
                                    <th>{{bartender.key}}</th>
                                    <ng-container *ngFor="let day of days; let i = index">
                                        <td>{{timing(day, bartender.key, table.Bartender)}}</td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </table>
                    </mat-expansion-panel>
                </mat-accordion>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true" class="chef">
                        <mat-expansion-panel-header>
                            <mat-panel-title><strong>Chef</strong></mat-panel-title>
                        </mat-expansion-panel-header>
                        <table>
                            <ng-container *ngFor="let chef of table.Chef | keyvalue">
                                <tr>
                                    <th>{{chef.key}}</th>
                                    <ng-container *ngFor="let day of days; let i = index">
                                        <td>{{timing(day, chef.key, table.Chef)}}</td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </table>
                    </mat-expansion-panel>
                </mat-accordion>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true" class="waiter">
                        <mat-expansion-panel-header>
                            <mat-panel-title><strong>Waiter</strong></mat-panel-title>
                        </mat-expansion-panel-header>
                        <table>
                            <ng-container *ngFor="let waiter of table.Waiter | keyvalue">
                                <tr>
                                    <th>{{waiter.key}}</th>
                                    <ng-container *ngFor="let day of days; let i = index">
                                        <td>{{timing(day, waiter.key, table.Waiter)}}</td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </table>
                    </mat-expansion-panel>
                </mat-accordion>
            </td>
        </tr>
    </table>
</section>